<div class="container border border-primary">
  <div class="row align-items-center">
    <h3>Unhealthy Words</h3>
    <form
          [formGroup]="form"
          (ngSubmit)="newHealthyWord(form.value)"
          class="form-inline"
        >
          <div class="form-row align-items-center">
            <div class="form-group">
              <label>Unhealthy word:</label>
              <input
                formControlName="unhealthyWord"
                type="text"
                name="unhealthyWord"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
  </div>
</div>
<table class="blueTable">
  <thead>
     <tr>
        <th style="display:none;">#ID</th>
        <th>Word</th>
     </tr>
  </thead>
  <tbody>
     <tr *ngFor="let item of ItemsArray">
        <th style="display:none;">{{ item._id }}</th>
        <td>{{ item.unhealthyWord }}</td>
        <td>
         <button  (click)="deleteRow(item)" class="btn btn-primary">Delete</button>
        </td>
     </tr>
  </tbody>
</table>