<div class="container border border-primary">
  <div class="row align-items-center">
    <h3>Inactive Users</h3>
  </div>
</div>
<table class="blueTable">
  <thead>
     <tr>
        <th style="display:none;">#ID</th>
        <th>username</th>
        <th>email</th>
        <th>country</th>
        <th>timesBadPost</th>
     </tr>
  </thead>
  <tbody>
     <tr *ngFor="let item of inactiveUsersList">
        <td style="display:none;">{{ item._id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.country }}</td>
        <td>{{ item.timesBadPost }}</td>
        <td>
         <button (click)="activateUserRow(item)"  class="btn btn-primary">Active</button>
        </td>
     </tr>
  </tbody>
</table>