<div class="container border border-primary">
  <div >
    <h3>Advertisement</h3>
    <form
      [formGroup]="form"
      (ngSubmit)="newAdvertisement(form.value)"
    >
      <div>
        <div style="max-width: 100%;">
          <label>Image Url:</label>
          <input
            formControlName="imgUrl"
            type="text"
            name="imgUrl"
            class="form-control"
            style="max-width: 100%;"
          />
        </div>
        <div>
          <label>Description:</label>
          <input
            formControlName="description"
            type="text"
            name="description"
            class="form-control"
          />
        </div>
        <div style="max-width: 100%;">
          <label>Link Url:</label>
          <input
            formControlName="linkUrl"
            type="text"
            name="linkUrl"
            class="form-control"
            style="max-width: 100%;"
          />
        </div>
        <div class="row">
        <div class="column">
          <label>Minimum age:</label>
          <input type="number" min="1" max="100" value="1" formControlName="minAge" class="form-control" name="minAge"/>
        </div>
        
        <div class="column">
          <label>Country:</label>
          <select id="country" name="country" formControlName="country" class="form-control">
            <option value="all" selected>All</option>
            <option value="Angola">Angola</option>
            <option value="China">China</option>
            <option value="Ecuador">Ecuador</option>
            <option value="France">France</option>
            <option value="Iran">Iran</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Russia">Russia</option>
            <option value="Senegal">Senegal</option>
            <option value="Spain">Spain</option>
            <option value="Uganda">Uganda</option>
            <option value="United States of America">United States of America</option>
          </select>
        </div>
      </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>