<div class="container border border-primary">
  <div class="row align-items-center">
    <h3>Request Activate Account</h3>
    <form
          [formGroup]="form"
          (ngSubmit)="requestActivate(form.value)"
          class="form-inline"
        >
          <div class="form-row align-items-center">
            <div class="form-group">
              <label>Request Activate Account:</label>
              <input
                formControlName="activateAcc"
                type="text"
                name="activateAcc"
                class="form-control"
                style="visibility: hidden;"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
  </div>
</div>