<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Holy Cross Medical Center ::: Patients Management Systems</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient List
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="patients">All Patients</a></li>
                    <li><a href="#">By ID</a></li>
                    <li><a href="#">By Name</a></li>
                </ul>
            </li>
            <li><a href="#">Other Services</a></li>

        </ul>
    </div>
</nav>
<div class="container" style="width:80%;margin: auto;">
<h2>Welcome to the HCMC Patients Management Systems(PMS)</h2>

    <div class="row">
        <div class="row">
            <hr>
            <p>At Hol.........</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>

    </div>
</div>


<div class="panel panel-default" style=" position:fixed; bottom:0;width: 100%">

    <div class="panel-footer" style="height:40px;"><div style="float:left;">&#9400 Soroncho. FM</div> <div style="float:right;">CS425SWE201906:::Final Exam</div></div>

</div>
</body>
</html>