<div class="container">
  <div class="border border-primary">
    <div class="new-post">
      <form
        [formGroup]="searchForm"
        (ngSubmit)="searchUserName(searchForm.value)"
      >
        <div class="form-group">
          <input
            class="form-control"
            formControlName="searchname"
            name="searchname"
            type="text"
            placeholder="search person"
          />
        </div>

        <button class="btn btn-primary" type="submit">Search</button>
        <div *ngIf="noresult">
          <div class="alert alert-warning">No result</div>
        </div>
      </form>
    </div>
    <div>
      <!-- Result section -->
      <div *ngIf="showResult">
        <h3>Search Result:</h3>
        <userblock [users]="searchResult"></userblock>
      </div>
      <!--
      <div *ngFor="let user of searchResult">
        <div class="border border-primary">
          <div class="row user-section">
            <div class="border border-dark">
              <div>
                <img class="img-fit" [src]="user.photo" />
              </div>
              <div>
                username: <span #username>{{ user.username }}</span>
              </div>
              <div>Country: {{ user.country }}</div>
            </div>
            <div>
              <div>
                <button
                  [class.btn-secondary]="followed"
                  class="btn btn-primary"
                  (click)="follow(username)"
                >
                  {{ followText }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    <div>
      <h3>Following list</h3>
      <userblock [users]="followers"></userblock>
    </div>
  </div>
</div>
