<div class="container border border-primary">
  <!-- <div class="input-group mb-3"> -->
  <form
    class="form-group"
    [formGroup]="searchform"
    (ngSubmit)="searchPost(searchform.value)"
  >
    <div class="input-group">
      <input
        formControlName="searchpost"
        type="text"
        placeholder="Search post"
        class="form-control"
      />
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          Search
        </button>
      </span>
    </div>
  </form>
  <!-- </div> -->

  <div class="row">
    <div class="row align-items-center new-post">
      <form
        [formGroup]="form"
        (ngSubmit)="newPost(form.value)"
        class="form-inline"
      >
        <div class="form-row align-items-center">
          <div class="form-group">
            <label for="postname"><b>New Post:</b></label>
            <input
              formControlName="postname"
              type="text"
              name="postname"
              class="form-control"
            />
          </div>
          <div>
            <input
              style="display: none;"
              type="file"
              name="file"
              #fileInput
              (change)="onFileChange($event)"
            />
            <button
              type="button"
              class="btn btn-primary"
              (click)="fileInput.click()"
            >
              <span class="fa fa-camera" [textContent]="photoName"></span>
            </button>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div style="width: 100%;">
      <div
        class="search-result"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
      >
        <posts [postsArr]="posts"></posts>
      </div>
    </div>
  </div>
</div>
