<div class="border">
  <ul
    class="nav flex-column nav-pills"
    role="tablist"
    aria-orientation="vertical"
  >
    <li class="nav-item">
      <a
        routerLink="/home/userdetails"
        routerLinkActive="active"
        class="nav-link"
        role="tab"
        (click)="changeToUserDetails()"
        >{{ showUsername }} profile</a
      >
    </li>
    <!--options user-->
    <li class="nav-item" *ngIf="!getUserVisible()">
      <a
        routerLink="/home/news"
        class="nav-link"
        routerLinkActive="active"
        role="tab"
        (click)="changeToNews()"
        >Home</a
      >
    </li>
    <li class="nav-item" *ngIf="!getUserVisible()">
      <a
        routerLink="/home/following"
        routerLinkActive="active"
        class="nav-link"
        role="tab"
        (click)="changeToFollowing()"
        >Following</a
      >
    </li>

    <!--options admin-->
    <li class="nav-item" *ngIf="isAdmin">
      <a
        routerLink="/home/home-admin"
        routerLinkActive="active"
        class="nav-link"
        role="tab"
        (click)="changeToNewAdvertisement()"
        >New Advertisement</a
      >
    </li>
    <li class="nav-item" *ngIf="isAdmin">
      <a
        routerLink="/home/app-table"
        routerLinkActive="active"
        class="nav-link"
        role="tab"
        (click)="changeToNewUnhealthyWords()"
        >New Unhealthy Words</a
      >
    </li>
    <li class="nav-item" *ngIf="isAdmin">
      <a
        routerLink="/home/manage-user"
        routerLinkActive="active"
        class="nav-link"
        role="tab"
        (click)="changeToManageUser()"
        >Active User</a
      >
    </li>
    <li class="nav-item">
      <button class="btn" (click)="logout()" role="tab">
        Logout
      </button>
    </li>
  </ul>
</div>
