<div class="float-right">
  <span
    ><h2>Register for <br />Wish List</h2></span
  >
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="register(form.value)">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          formControlName="username"
          class="form-control"
          type="text"
          name="username"
          id="username"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          formControlName="password"
          class="form-control"
          type="password"
          name="password"
          id="password"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          formControlName="email"
          class="form-control"
          type="text"
          name="email"
          id="email"
        />
      </div>
      <div class="form-group">
        <label for="birthday">Birthday:</label>
        <input
          type="date"
          id="birthday"
          name="birthday"
          formControlName="birthday"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>Countie:</label>
        <select
          id="country"
          name="country"
          formControlName="country"
          class="form-control"
        >
          <option value="Angola">Angola</option>
          <option value="China">China</option>
          <option value="Ecuador">Ecuador</option>
          <option value="France">France</option>
          <option value="Iran">Iran</option>
          <option value="Kazakhstan">Kazakhstan</option>
          <option value="Mongolia">Mongolia</option>
          <option value="Russia">Russia</option>
          <option value="Senegal">Senegal</option>
          <option value="Spain">Spain</option>
          <option value="Uganda">Uganda</option>
          <option value="United States of America"
            >United States of America</option
          >
        </select>
      </div>
      <div class="form-group">
        <input
          type="checkbox"
          name="isAdmin"
          value="isAdmin"
          formControlName="isAdmin"
        />
        <label for="isAdmin"> Admin</label><br />
      </div>
      <button class="btn btn-warning" type="submit">Register</button>
      <div *ngIf="form.touched && formError" class="alert alert-danger">
        <div *ngIf="formError">
          {{ formErrorMessage }}
        </div>
      </div>
    </form>
  </div>
</div>
