<div *ngFor="let follower of users">
  <div class="container">
    <div class="border border-primary">
      <div class="row">
        <div class="border">
          <img class="img-fit" [src]="follower.photo" />
        </div>
        <table>
          <tr>
            <td>Username:</td>
            <td>
              <span #follower
                ><b>{{ follower.username }}</b></span
              >
            </td>
          </tr>
          <tr>
            <td>Country:</td>
            <td>{{ follower.country }}</td>
          </tr>
          <tr>
            <div *ngIf="follower.flwdFlg">
              <button
                class="btn btn-secondary"
                type="button"
                (click)="unfollow(follower._id)"
              >
                Unfollow
              </button>
            </div>
            <div *ngIf="!follower.flwdFlg">
              <button
                class="btn btn-primary"
                type="button"
                (click)="follow(follower._id)"
              >
                Follow
              </button>
            </div>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
