<div class="border">
  <div>
    <h1>Welcome to wish listing app</h1>
    <h3>
      <ul>
        <li class="moto">
          Get information about your friends wish
          <span class="fa fa-send"></span>
        </li>
        <li class="moto">
          Share what is in your mind with world
          <span class="fa fa-globe"></span>
        </li>
        <li class="moto">
          Become a influencer by your style
          <span class="fa fa-star"></span>
        </li>
      </ul>
    </h3>
  </div>
</div>
